@model GestãoDeProdutos.Models.Product

<h3>Editar Produto</h3>
<form method="post" asp-controller="product" asp-action="add">
    <table class="table table-hover">
        <tr>
            <td>Name</td>
            <td><input class="form-control" type="text" asp-for="Name" /></td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td><input class="form-control" type="text" asp-for="Description" /></td>
        </tr>
        <tr>
            <td>Data da Venda</td>
            <td><input class="form-control" type="date" asp-for="SellDate" /></td>
        </tr>
           <tr>
            <td>Preço</td>
            <td><input class="form-control" type="text" asp-for="Price" /></td>
        </tr>
           <tr>
            <td>Status</td>
            <td><input class="form-check-input" type="checkbox" asp-for="IsActive" /></td>
        </tr>
          <tr align="center">
            <td align="center">
                <a class="btn btn-success" value="Save">Salvar</a>
            </td>
        </tr>
    </table>
</form>